<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinku.foodhuntercm">

    <compatible-screens>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <!-- large screens -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <!-- xlarge screens -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />
    </compatible-screens>
    >>>>>>> 79dea973ee44a4a729cd281cf100bd5def0e4dad
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Operations.JoinCommunity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Operations.JoinCommunity.RegisterActivity"
            android:label="Register New Account" />
        <activity
            android:name=".Operations.UpdateInfo.CaterUpload"
            android:label="Cater information" />
        <activity
            android:name=".Operations.UpdateInfo.DinerUploadActivity"
            android:label="Diner information" />
        <activity
            android:name=".Operations.Search.SearchActivity"
            android:label="Search information" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Operations.UpdateInfo.Menu_CaterActivity"
            android:label="@string/title_activity_menu__cater"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Operations.UpdateInfo.Menu_DinerActivity"
            android:label="@string/title_activity_menu__diner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Operations.Payment.GoogleWalletNBActivity"></activity>
    </application>

</manifest>